html, body{ height:100%; margin:0; }

#panel_img {
  background-image: url("../img/clientpanel.jpg");
}

.nav-item {
  padding: 15px;
}

.jumbotron {
  background-image: url("../img/jumbotron.jpg");
  background-size: cover;
}

.icons {
  width: 20%;
  height: 20%;
  align-self: center;
}

.respons_img {
  width: 100%;
  height: 100%;
}

.clinics_rows {
  margin-top: 30px;
  padding: 2%;
  background-color: #f8f9fa;
}

.form_card {
  width: 50%;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 2%;
  background-color: #f8f9fa;
}

.margin_top_30 {
  margin-top: 30px;
}

.margin_bottom_30 {
  margin-bottom: 30px;
}

.panel_img {
  margin: 0px;
  padding: 0px;
  width: 100%;
  background-size: cover;
}

body{
  display:flex;
  flex-direction:column;
}

footer {
  margin-top:auto;

  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 3%;
  padding-bottom: 2%;
  background-color: #373a3c;
  color: #e6e6e6;
  text-align: center;
}
